/* your beautiful css styling goes here! */
.board {
  height: 1000px;
  width: auto;
  background-color: black;
}



/*circle :after {
  background-image: url("asteroid.png");
}*/
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
